


<div class="center jumbotron">
  <h1>Welcome to the best Todo Tracker</h1>

  

  <h2><%= link_to 'To-dos', tasks_path %></h2>
  <h2><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></h2>
</div>


